#countdown-timer {
  font-size: xx-large;
  font-weight: bold;
  font-style: italic;
  color: red;
  margin: 2rem 0 3rem 0 ;
  text-align: center;
}

/* Declare heights because of positioning of img element */
.question-background {
  height: 15rem;
  text-align: center;
  background-color: darkslategray;
}

.question-background > img {
  height: 20%;
  margin-top: 4rem;
  z-index: 9;
}

.question-display {
  position: absolute;
  color: #fff;
  text-align: center;
  left: 20%;
  z-index: 99;
}

#question-text {
  position: relative;
  font-family: 'Special Elite', cursive;
  font-size: xx-large;
  z-index: 99;
  left: -12.5%;
  top: 1rem;
}

#indicators {
  position: relative;
  top: 13rem;
  left: -12.5%;
}

span { /*progress indicators*/
  opacity: .25;
  margin: 0 .5rem;
  z-index: 99;
}

.active {
  opacity: 1;
}

.btn, .btn-secondary {
  font-size: x-large;
  margin-top: 7vh;
}

#gameplay {
  z-index: 99;
}

#gameend-display, .robo-response {
  margin: 0 auto;
  width: 80vw;
}

.robo-response {
  font-family: 'Special Elite', cursive;
  font-size: xx-large;
  color:blue;
  opacity: 1;
}

.answers .col-md-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.cover-heading {
  font-family: 'Faster One', Arial, Helvetica, sans-serif;
  font-size: 70px;
  margin: 10vh;
}

.cover-display {
  opacity: 1;
}

.gameplay-display {
  opacity: 0;
}

@-ms-viewport{
  width: device-width;
}

@media only screen and (max-width: 900px) {
  #countdown-timer {
    font-size: x-large;
    margin: 0;
  }
  .question-background {
    height: 10rem;
  }
  #indicators {
    top: 8rem;
  }
  .carousel-inner {
    margin-top: 0.5rem;
  }
  .robo-response {
    font-size: x-large;
  }
  #question-text {
    top: 0.25rem;
    font-size: x-large;
  }
  .answers .col-md-4 {
    margin-bottom: 0.5rem;
  }
  .btn, .btn-secondary {
    font-size: large;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  .cover-heading {
    font-size: xx-large;
    margin: 3vh;
  }
  #gameend-display, .robo-response {
    margin-top: .5rem;
    width: 95vw;
  }
}

@media only screen and (max-width: 800px) {/*really small margins for better layout on mobile in portrait*/
  .question-background {
    height: 12rem;
  }
  #indicators {
    top: 10rem;
  }

@media only screen and (max-width: 600px) {/*really small margins for better layout on mobile in portrait*/
  .question-background {
    height: 13.5rem;
  }
  #indicators {
    top: 11.5rem;
  }
  .robo-response {
    font-size: large;
  }
  #question-text {
    top: 0rem;
    font-size: large;
  }
  .cover-heading {
    font-size: x-large;
  }
  .btn, .btn-secondary {
    font-size: medium;
    margin-top: 0.25rem;
  }
  #countdown-timer {
    font-size: large;
  }
}